
@{
    ViewBag.Title = "AdminPage";
}

<h2>AdminPage</h2>

@Html.ActionLink("UserManagement", "Index", "User")<h6>---------</h6>
@Html.ActionLink("PackageManagement", "PackageDetails", "Package")<h6>----------</h6>
@Html.ActionLink("CarManagement", "CarDetails", "Car")


<style>
    body {
        background-image: url('../../images/bg image 1.jpg');
    }

    </style>